root = true

[*.cs]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 2

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

csharp_prefer_braces = when_multiline:none
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:silent
dotnet_style_namespace_match_folder = false

csharp_style_var_elsewhere = false:warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning

dotnet_diagnostic.IDE0008.severity = warning
dotnet_diagnostic.IDE0290.severity = warning
